#Build tools
config.h
config.log
config.status
po/Makefile
po/Makefile.in
src/Makefile

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
src/carnesbecerra
